{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
{% endblock %}

{% block body %}
    <div class="container">
    <div class="row mb-3">
        <div class="col-md-3">
            <h3>New schemas</h3>
        </div>
        <div class="col-md-3 ml-auto">
            <button form="new_schema_form" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
        <div class="row">
            <div class="col-md-4">
                <form method="POST" id="new_schema_form">
                    {% csrf_token %}
                    {{ form|crispy }}
{#                </form>#}
                    <div id="form_hidden_input">
                    </div>
                </form>
            </div>
        </div>
{#        <form method="POST" id="new_schema_form">#}
{#            {% csrf_token %}#}
            <div class="row mt-3">
                <div class="col-md-12">
                    <h3>Schema columns</h3>
                </div>
                    <div id="column_form" class="column_form w-100">
                    </div>

                <div class="row border my-5 w-100">
                    <div class="col-md-3">
                        <label for="col-name">Column name</label>
                        <input class="form-control" type="text" id="col-name">
                    </div>
                    <div class="col-md-3">
                        <label for="col-type">Type</label>
                        <select class="form-control" id="col-type">
                            <option value="str">String</option>
                            <option value="int">Integer</option>
                            <option value="bool">Boolean</option>
                        </select>
                        <p class="text-secondary d-none show_range">
                            <a href="#" class="range_btn">add range ?</a>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="range_add_div d-none">
                            <label for="range_from__">From</label>
                            <input class="form-control w-25" type="number" min="1" id="range_from">
                            <label for="range_to__">To</label>
                            <input class="form-control w-25" type="number" min="1" id="range_to">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="col-order">Order</label>
                        <input class="form-control" type="number" min="1" id="col-order">
                    </div>
                    <div class="col-md-12">
                        <p class="text-danger d-none add_column_error_show">Please fill in all fields</p>
                        <button class="btn btn-primary my-3 column_add_btn">Add column</button>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            $('#col-type').on('change', function(){
                if($(this).val() === 'int') {
                    $('.show_range').removeClass('d-none')
                } else {
                    $('.show_range').addClass('d-none')
                    $('.range_add_div').addClass('d-none')
                }
            })

            $('.range_btn').on('click', function(){
                $('.range_add_div').toggleClass('d-none')
            })

            $('.column_add_btn').on('click', function(){

                let name = $('#col-name').val();
                let type = $('#col-type').val();
                let order = $('#col-order').val()
                let type_html = document.getElementById('col-type')
                let type_str = type_html.options[type_html.selectedIndex].text;
                let range_from = $('#range_from').val();
                let range_to = $('#range_to').val();

                if(name === '' || type === '' || order === '') {
                    $('.add_column_error_show').removeClass('d-none')
                } else {
                    $('.add_column_error_show').addClass('d-none')
                    let template = `
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <label>Column name</label>
                            <input name="column_name" class="form-control" type="text" value="${name}" readonly>
                        </div>
                        <div class="col-md-3">
                            <label>Type</label>
                            <input name="column_type" class="form-control" type="text" min="1" value="${type_str}" readonly>
                        </div>
                        <div class="col-md-2 mt-4">
                            <div class="range_add_div d-flex align-items-end">
                                <label>From</label>
                                <input name="column_type_from" class="form-control" type="number" value="${range_from}" readonly>
                                <label>To</label>
                                <input name="column_type_to" class="form-control" type="number" value="${range_to}" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Order</label>
                            <input name="column_order" class="form-control" type="number" min="1" value="${order}" readonly>
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="btn_click_add_column(this)" class="btn btn-sm btn-outline-danger">delete</button>
                        </div>
                    </div>
                    `;
                    let hidden_input = `
                        <input name="column_name" type="hidden" value="${name}">
                        <input name="column_type" type="hidden" min="1" value="${type_str}">
                        <input name="column_type_from" type="hidden" value="${range_from}">
                        <input name="column_type_to" type="hidden" value="${range_to}" >
                        <input name="column_order" type="hidden" value="${order}">
                    `
                    document.getElementById('form_hidden_input').innerHTML += hidden_input
                    document.getElementById('column_form').innerHTML += template
                }
            })
        })

        function btn_click_add_column(e) {
            e.parentElement.parentElement.remove()
        }
    </script>
{% endblock %}