{% extends 'layout.html' %}
{% load static %}

{% block css %} {% endblock %}

{% block body %}
    <div class="container">
    <div class="row mb-3">
        <div class="col-md-3">
            <h3>Data schemas</h3>
        </div>
        <div class="col-md-3 ml-auto">
            <a href="{% url 'schemas-create' %}" class="btn btn-success">New schema</a>
        </div>
    </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Modified</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for i in object_list %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ i.title }}</td>
              <td>{{ i.modified }}</td>
              <td class="d-flex">
                  <a href="{% url 'schema-edit' i.pk %}" class="btn btn-sm btn-outline-primary mx-3">Edit schema</a>
                  <form method="POST" action="{% url 'schemas-delete' i.pk %}">
                      {% csrf_token %}
                      <input type="hidden" value="DELETE">
                      <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                  </form>
                  <a href="#exampleModal" data-schema-id="{{ i.pk }}" type="button" class="btn btn-sm btn-outline-secondary mx-3" data-toggle="modal" data-target="#exampleModal">
                      Generate data
                    </a>
              </td>
            </tr>
              {% empty %}
              <tr>
                <td colspan="4" class="text-center table-secondary">Empty</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <label>Enter number of rows</label>
          <form id="row_form" method="POST" action="{% url 'data-sets-generate' %}">
              {% csrf_token %}
                <input type="number" min="1" name="data_rows" class="form-control">
                <input id="schema_id" type="hidden" name="schema_id">
          </form>
      </div>
      <div class="modal-footer">
        <button id="model_close_btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button onclick="document.getElementById('model_close_btn').click()" form="row_form" type="submit" class="btn btn-primary">Generate and download</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
    <script>
        $('#exampleModal').on('show.bs.modal', function (e) {
            document.getElementById('schema_id').value = $(e.relatedTarget).attr('data-schema-id')
        })
    </script>
{% endblock %}