{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>FakeCSV</title>
    <link rel="stylesheet" href="{% static 'css/boostrap/css/bootstrap.min.css' %}">
    <style>
        a:hover {
            text-decoration: none;
        }
    </style>
    {% block css %}
    {% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="container">
      <a class="navbar-brand" href="#"><b>FakeCSV</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'schemas' %}">Schemas</a>
          </li>
        </ul>
          <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <span class="nav-link">
                Hello <b>{{ request.user }}</b>
            </span>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}
</body>

<script src="{% static 'js/jquery/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap/js/bootstrap.min.js' %}"></script>
{% block js %}
{% endblock %}

</html>