{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>FakeCSV Login</title>
    <link rel="stylesheet" href="{% static 'css/boostrap/css/bootstrap.min.css' %}">
    <style>
        .login_card {
            margin-top: 30vh;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card login_card text-center bg-light p-5">
                    <h3>Login</h3>
                    <div class="row">
                        <form class="mx-auto" method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="col-md-12">
                                <input class="form-control my-3" type="text" required name="login" placeholder="username">
                            </div>
                            <div class="col-md-12">
                                <input class="form-control my-3" type="password" required name="password" placeholder="password">
                                <p class="text-danger">{{ error }}</p>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="{% static 'js/bootstrap/js/bootstrap.min.js' %}"></script>
</html>